<app-menu></app-menu>
<div class="fluent-container">
  
  <div class="row">
    <h1>Preguntas</h1>
    
    <div class="table-responsive">
      <h6>Total: {{questions.length}}</h6>
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let head of headElements">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of questions">
            <th scope="row">{{ q.id }}</th>
            <td>{{ q.question }}</td>
            <td>{{ q.creationDate | date: "short" }}</td>
            <td>{{ q.enable ? "Si" : "No" }}</td>
            <td>
              <div class="container">
                <div class="row">
                  <button class="btn btn-info wideSpace" (click)="showToast(q.id)">
                    Modificar
                  </button>
                  <button *ngIf="q.enable" (click)="deactivate(q.id)" class="btn btn-warning wideSpace">
                    Desactivar
                  </button>
                  <button *ngIf="q.enable===false" (click)="activate(q.id)" class="btn btn-success wideSpace">
                    Activar
                  </button>
                  <button class="btn btn-danger wideSpace" (click)="deleteQuestion(q.id)">
                    Eliminar
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <button class="btn btn-primary" (click)="generateNew()">
        Generar nueva pregunta
      </button>
    </div>
  </div>
</div>
<div class="space">

</div>
<app-footer></app-footer>
