<app-menu>Menu</app-menu>



<div id="main">
    <div align="center">
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" height="100" alt="done">
    </div>
    
    <h2>Hey</h2>
    <p>
        Has completado todas las preguntas,<br> ya tenemos todo lo necesario, <br>por favor mantente alerta, nos
        contactaremos contigo.
    </p>
    <button (click)="goAnswers()" class="btn btn-primary">Ver mis respuestas</button><span></span>
    <button (click)="goAnswers()" class="btn btn-success">Escribenos al whatsapp</button>

</div>


<div class="container scapce">
    <br />
    <div align="center" class="socialbtns scapce">
        <ul>
            <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
            <li><a href="#" class="fa fa-lg fa-twitter"></a></li>
            <li><a href="#" class="fa fa-lg fa-google-plus"></a></li>
            <li><a href="#" class="fa fa-lg fa-whatsapp"></a></li>
            <li><a href="#" class="fa fa-lg fa-pinterest"></a></li>
            <li><a href="#" class="fa fa-lg fa-linkedin"></a></li>
            <li><a href="#" class="fa fa-lg fa-instagram"></a></li>
            <li><a href="#" class="fa fa-lg fa-youtube"></a></li>
        </ul>
    </div>
</div>

<app-footer>Footer</app-footer>