<app-nav></app-nav>
<div class="container login-container">
  <div class="row">
    <div class="col-sm">
      <img
        src="../../../assets/img/login/login.svg"
        width="276"
      />
    </div>
    <div class="col-sm card">
      <div class="card-header">
        <h3 class="panel-title color">Ingresar</h3>
      </div>
      <div class="card-body">
        <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="form-horizontal boottomSpace"
      >
        
        <div class="form-group">
          <label class="color">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="color">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="form-control"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary login-btn">
            Acceder 🔑
          </button>
          <p class="login-p">
            Aun no te haz registrado ?
            <a routerLink="/register">Registrarte Aquí</a>
          </p>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
