@media only screen and (max-width: 600px) {
  body {
    color: black;
  }
}

body {
  color: black;
}
.color{
  color: gray;
}

.login-container {
  padding-top: 15%;
}

.login-p {
  color: black;
}
.boottomSpace{
  padding-bottom: 23%;
}

.extraSpace{
  padding-top: 22%;
  padding-left: 10%;
  padding-right: 10%;
}