<article>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <img width="100"
    src="https://usernamehw.gallerycdn.vsassets.io/extensions/usernamehw/errorlens/3.4.2/1646842343909/Microsoft.VisualStudio.Services.Icons.Default">
  <h1 class="main">Estaremos de vuelta pronto!</h1>
  <div>
    <p>Sentimos los inconvenientes. <strong>Call Center sRD</strong> ha sido desactivada, por favor contacta el
      administrador para mas informacion!</p>
    <p>&mdash; El equipo de tecnologia</p>
  </div>
</article>
