<article>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <img width="100"
    src="https://usernamehw.gallerycdn.vsassets.io/extensions/usernamehw/errorlens/3.4.2/1646842343909/Microsoft.VisualStudio.Services.Icons.Default">
  <h1 class="main">👻 Estaremos de vuelta pronto! 👻</h1>
  <div>
    <p>Sentimos los inconvenientes, estamos dando los toques finales a <br><strong>Call Centers RD</strong>, si necesita alguna informacion por favor contacta el
      administrador.</p>
    <p>&mdash; El equipo de tecnologia 💕</p>
  </div>
</article>
