<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
</head>

<body>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <a href="#">Questions</a>
        <a href="#">Answers</a>
        <a href="#">My Profile</a>
        <a class="menu" (click)="logout()">Logout</a>
    </div>

    <div id="main">
        <button class="openbtn" (click)="openNav()">☰ Menu</button>
        <h2>Ayudanos a conocerte mejor</h2>
        <p>Responde las siguientes preguntas para completar tu record de aplicante.</p>
    </div>



    <script>

    </script>

</body>

</html>