<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&family=Shadows+Into+Light&display=swap"
  rel="stylesheet"
/>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
  </head>

  <body>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
      <span>CCRD</span>
      <a href="#">Questions</a>
      <a href="#">Answers</a>
      <a href="profile">My Profile</a>
      <a class="menu" (click)="logout()">Logout</a>
    </div>
    <div class="nav">
      <button class="openbtn" (click)="openNav()">☰</button>
      <span class="mainFont">Call CentersRD</span>
    </div>
    <div id="main">
      <h2>Ayudanos a conocerte mejor</h2>
      <p>
        Responde las siguientes preguntas para completar tu record de aplicante.
      </p>
    </div>

    <script></script>
  </body>
</html>
